@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
font-family: poppins;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #dab0d5;
}




.header{
    
}
.header img{
    max-width: 100%;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.header h1{
    color: #FFFF;
    text-align: center;
    padding: 30px;
}
.team{
    display: flex;
    justify-content: space-between;
}
.team-list{
    display: flex;
}
.team_member{
    display: flex;
    justify-content: space-between;
    width: 500px;
    background-color: #FFFF;
    margin: 200px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow:  0px 0px 4px 4px #FFF;
}
.team_member img{
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #dab0d5;
}

.content{}
.content span{
    font-weight: 300;
    font-size: 20px;
    color: #b3b3b3 !important;
}
.content h2{
    font-size: 28px;
    color: #b689b1;
}
.content p{
    color: #797979 !important;
}
.social{
    width: 50%;
    margin: auto;
    margin-bottom: -30px;
}
.social ul{}
.social ul li{
    display: inline-block;
}
.social ul li a{
    padding: 10px;
    display: block;
    font-size: 29px;
    color: #dab0d5;
}
.social ul li a i{}